<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
  </head>
  <body>
    <h2>All of the rent prices are listed below with their region and date</h2>
    {{!-- <ul>
    {{#each rent}}
      <li>the rent during {{time}} in {{area}} is $</li>
    {{/each}}
    </ul> --}}
    <table>
      <tr> <th>location</th><th>price</th> <th>year</th></tr>
     {{#each rent}}
      <tr>
      <td>{{area}}</td>
      <td>$700</td>
      <td>{{time}}</td>
      </tr>
      {{/each}}
    </table>
  </body>
</html>
